# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
PoliceVsBurglar/Library/ScriptAssemblies/BuiltinAssemblies.stamp
PoliceVsBurglar/Library/shadercompiler-UnityShaderCompiler.exe0.log
PoliceVsBurglar/Library/ShaderCache.db
PoliceVsBurglar/Library/CurrentLayout.dwlt
PoliceVsBurglar/Library/assetDatabase3
PoliceVsBurglar/Library/LastSceneManagerSetup.txt
PoliceVsBurglar/PoliceVsBurglar.sln

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
PoliceVsBurglar/Assembly-CSharp.csproj
PoliceVsBurglar/Library/ScriptAssemblies/Assembly-CSharp.dll
PoliceVsBurglar/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
PoliceVsBurglar/Assembly-CSharp-Editor-firstpass.csproj
PoliceVsBurglar/Assembly-CSharp-Editor.csproj
PoliceVsBurglar/Assembly-CSharp-firstpass.csproj
PoliceVsBurglar/Assembly-CSharp.csproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
